@import '@/mixins/mixins.scss';

.table {
    max-height: 70vh;

    &_header {
        &__item {
            z-index: 100;
            font-size: $heading-font-size-third !important;
            text-align: center !important;
            background: $color-green-first !important;
        }
    }

    &_content {
        &__icon {
            margin-right: 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        &__item {
            border-right: 2px solid $color-green-first;
            border-bottom: 2px solid $color-green-first !important;
        }
    }
}